.eslintcache
.pnpm-debug.log
**/node_modules/
/node_modules/
coverage/
dist/
example/client/dist/
example/server/src/prisma/prisma-client/
packages/**/lib/
tsconfig.tsbuildinfo
vite.config.ts.timestamp-*
