:root {
  --vp-c-brand-1: rgb(61, 135, 245);
  --vp-code-color: #111111;
  --vp-home-hero-name-color: #c8c8c8;
  --vp-nav-bg-color: rgba(255, 255, 255, 0.6);
}

html.dark {
  --vp-c-brand-1: rgb(94 159 255);
  --vp-code-color: #c8c8c8;
  --vp-home-hero-name-color: #c8c8c8;
  --vp-nav-bg-color: rgba(24, 24, 24, 0.6);
}

.VPNav {
  backdrop-filter: blur(12px);
}

code,
pre {
  font-family: 'Fira Code', monospace;
  font-feature-settings: 'liga' on, 'calt' on;
}

.vp-doc a:hover {
  text-decoration: none;
}

.VPSocialLink[href="https://nakazawa.tech"] svg
{
  transform: scale(1.3);
}

@media (min-width: 640px) {
  .VPHome .VPHero {
    padding-bottom: 42px;
  }
}

.VPHero .container .main {
  order: 2;
}

.VPHero .container .image {
  order: 1;
}

@supports (corner-shape: squircle) {
  .VPFeature.VPLink .icon,
  .VPFeature.VPLink {
    border-radius: 48px;
    corner-shape: squircle;
  }

  .VPHero .VPButton.medium {
    padding-left: 8px;
    padding-right: 8px;
    corner-shape: squircle;
  }
}

.VPFeature.VPLink .icon {
  border-radius: 24px;
  margin-bottom: 8px;
}

.VPFeature.VPLink .link-text {
  padding-left: 12px;
  padding-bottom: 8px;
}

.VPHero .VPButton.medium {
  border-radius: 24px;
  transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.VPHero .VPButton.medium:hover {
  transform: scale(1.05, 1.025);
}

.VPHero .VPButton.medium:active {
  transform: scale(0.975, 0.95);
}

.VPFeature.VPLink {
  border-radius: 24px;
  transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.VPFeature.VPLink:hover {
  transform: scale(1.03);
}

.VPFeature.VPLink:active {
  transform: scale(0.97);
}

.VPFeature.VPLink .box {
  padding: 12px;
}

h2[id='why-fate'] {
  border-top: 0;
  margin-top: 12px;
}

html.dark picture.fate-tree > img {
  content: url('/public/fate-tree-dark.svg');
}

.vp-doc[class^='_posts_'] h2,
.vp-doc[class*=' _posts_'] h2 {
  border-top: 0;
  margin-top: 12px;
  padding-top: 0;
}
.vp-doc[class^='_posts_'] h2 a.header-anchor,
.vp-doc[class*=' _posts_'] h2 a.header-anchor {
  top: 0;
}
